.header-section{
    background: #1C2B35;
    height: 80px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 145px;
    padding-right: 145px;
}
.nave-items ul{
    display: flex;
}
.nave-items ul li{
    list-style: none;
}
.nave-items ul li a{
    text-decoration: none;
    color: white;
    margin-left:35px;
}
.nave-items ul li a:hover{
    color: aqua;
}